files:
  "/etc/nginx/conf.d/app.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name Joke-app1-env.eba-qkizdure.eu-north-1.elasticbeanstalk.com;

          location / {
              proxy_pass http://127.0.0.1:5000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }

commands:
  01_reload_nginx:
    command: "sudo systemctl reload nginx"
    ignoreErrors: false

  02_restart_gunicorn:
    command: "sudo systemctl restart gunicorn"
    ignoreErrors: false
